Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-use-override,
  modernize-use-nullptr,
  readability-misleading-indentation,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -performance-enum-size,
  -performance-no-int-to-ptr

WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(core|platform)/include/.*'
FormatStyle: file
