out/
build/

CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

.vs/
.cache/
*.user
*.xcuserstate

*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.log

*.bmp
*.h264
*.mp4

third_party/*
!third_party/nvenc-13.0

tools/

**/fastlane/report.xml
**/fastlane/README.md
*.p8

.gradle/
.cxx/
.externalNativeBuild/
local.properties
*.apk
*.aab
*.keystore
.idea
.kotlin

Thumbs.db
Desktop.ini
.DS_Store
Microsoft/Windows/PowerShell/

__pycache__/
*.pyc
